@{
    Layout = "Shared/_Layout.cshtml";
}

<article>
    <header>
        <h2>SimpleAuthentication series</h2>
        <p>posted a while ago</p>
    </header>
    <div>
        <p>SimpleAuthentication (formerly WorldDomination) is a great solution for implementing social authentication in your web application, with it supporting OAuth 1 & 2, as well as OpenID.</p>
        <p>This series of posts will show you how to set up SimpleAuthentication in both ASP.Net MVC and NancyFX, using various Dependency Injection (DI) or Inversion of Control (IoC) providers.</p>
        <ul>
            <li><a href="/simpleauthentication-and-autofac-under-aspnet-mvc">Setting up SimpleAuthentication in ASP.Net MVC 4 using AutoFac</a></li>
            <li><a href="/simpleauthentication-and-ninject-under-aspnet-mvc">Setting up SimpleAuthentication in ASP.Net MVC 4 using Ninject</a></li>
            <li>NancyFX coming soon!</li>
        </ul>
    </div>
</article>

<article>
    <header>
        <h2><a href="/simpleauthentication-and-ninject-under-aspnet-mvc">SimpleAuthentication and Ninject under Asp.Net MVC 4</a></h2>
        <p>posted a while ago</p>
    </header>
    <div>
        <p>This post will show you how to set up SimpleAuthentication in a brand new basic ASP.Net MVC 4 using Ninject as the Inversion of Control (IoC) or Dependency Injection (DI) provider.</p>
    </div>
    <footer>
        <p><a href="/simpleauthentication-and-ninject-under-aspnet-mvc">Read More</a></p>
    </footer>
</article>

<article>
    <header>
        <h2><a href="/simpleauthentication-and-autofac-under-aspnet-mvc">SimpleAuthentication and AutoFac under Asp.Net MVC 4</a></h2>
        <p>posted a while ago</p>
    </header>
    <div>
        <p>This post will show you how to set up SimpleAuthentication in a brand new basic ASP.Net MVC 4 using AutoFac as the Inversion of Control (IoC) or Dependency Injection (DI) provider.</p>
    </div>
    <footer>
        <p><a href="/simpleauthentication-and-autofac-under-aspnet-mvc">Read More</a></p>
    </footer>
</article>