@{
    Layout = "Shared/_Layout.cshtml";
}
<article>
    <header>
        <h2>SimpleAuthentication and Ninject under Asp.Net MVC 4</h2>
        <p>posted a while ago</p>
    </header>
    <div>
        <p>SimpleAuthentication (formerly WorldDomination) is a great solution for implementing social authentication in your web application, with it supporting OAuth 1 & 2, as well as OpenID.</p>
        <p>This post will show you how to set up SimpleAuthentication in a brand new basic ASP.Net MVC 4 using Ninject as the Inversion of Control (IoC) or Dependency Injection (DI) provider.</p>
    </div>
    <footer>
        <p><a href="/simpleauthentication-and-ninject-under-aspnet-mvc">Read More</a></p>
    </footer>
</article>